<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="/">create Users</a>
            <h1>All users</h1>
            <div class="col-11 d-flex">

                <% users.forEach((user)=> {%>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top w-75 h-75" src="<%= user.image%>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= user.username %></h5>
                            <p class="card-text"><%= user.email%></p>
                            <a href="#" class="btn btn-primary">Delete</a>
                            <a href="#" class="btn btn-primary">Update</a>

                        </div>
                    </div>
                    <% } )%>
            </div>
        </div>
    </div>
</body>

</html>